# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# FAISS
faiss_index/

# Pickle Files
*.pkl

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db